# Posgresql connection configs and credentials.
# WARNING: remember to set this in accord with docker-compose.yml/deploy tool.
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# WARNING: remember to set this on heroku environment when deploying.
DATABASE_URL=

# Django signing secret key.
# WARNING: remember to set this on production.
SECRET_KEY='my secret key'

# Set up hosts allowed to connect with django backend.
# WARNING: remember to set this in accord with project domain.
ALLOWED_HOSTS='*'

# Set up django console debug function.
# WARNING: remember to set this to 0 on production.
DEBUG=1

# Set up project environment.
# WARNING: remember to set this to 'dev' on development and 'prod' on
# production.
PROJECT_ENV=dev
